app-flow-nav-list {
    width: calc(50% - 36px);
    display: inline-block;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-mdc-list {
    display: inline-block;
}

button {
    background: none;
    border: none;
}

mat-icon {
    vertical-align: middle;
}
