.header {
	border-bottom: 2px solid #888;
	height: 2em;
	position: relative;
}

.entity {
	bottom: 0;
	display: block;
	font-weight: bold;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	z-index: 1;
}

.sut_entity {
	background-color: lightgray;
	border-radius: 10px 10px 0 0;
	margin-right: 5%;
	margin-left: 5%;
}

app-msg-search-input {
	float: right;
	position: relative;
	z-index: 5;
}

.body {
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	position: relative;
	z-index: 1;
}

.line {
	bottom: 0;
	position: absolute;
	top: 0;
	z-index: 0;
}

.def_line {
	border-left: 2px solid #DDD;
}

.sut_line {
	border-left: 2px solid #888;
}