name: Testing

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: maven

    - name: Set up Node
      uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: 'yarn'
        cache-dependency-path: report/report-ng/yarn.lock

    - name: Build with Maven
      run: mvn -B -Dnode=system package

    - uses: actions/upload-artifact@v3
      with:
        name: flow execution reports
        path: '**/target/mctf/latest'