name: Mutation

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      LANG: en_GB
    steps:
    - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

    - name: Set up JDK 8
      uses: actions/setup-java@2dfa2011c5b2a0f1489bf9e433881c92c1631f88 # v4.3.0
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: maven

    - name: Set up Node
      uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
      with:
        node-version: '14.15.1'
        cache: 'npm'
        cache-dependency-path: report/report-ng/package-lock.json

    - name: Run mutation testing
      run: mvn -B -Paggregate -Dnode=system test org.pitest:pitest-maven:mutationCoverage package

    - name: Save aggregated mutation report
      uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # v4.4.0
      id: upload_aggregated
      with:
        name: mutation_report
        path: aggregator/target/pit-reports

    - name: Emit aggregated artifact link
      run: echo " * [aggregated report](https://bowlby.flowty.dev/flow/artifacts/Mastercard/flow/${{ steps.upload_aggregated.outputs.artifact-id }}/index.html)" >> $GITHUB_STEP_SUMMARY

    - name: Save project mutation reports
      uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # v4.4.0
      id: upload_project
      if:  ${{ failure() }}
      with:
        name: project_mutation_reports
        path: '**/target/pit-reports'

    - name: Emit project artifact link
      if:  ${{ failure() }}
      run: echo " * [project reports](https://bowlby.flowty.dev/flow/artifacts/Mastercard/flow/${{ steps.upload_project.outputs.artifact-id }})" >> $GITHUB_STEP_SUMMARY
