name: Mutation

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      LANG: en_GB
    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: maven

    - name: Set up Node
      uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: 'yarn'
        cache-dependency-path: report/report-ng/yarn.lock

    - name: Run mutation testing
      run: mvn -Paggregate -Dnode=system test org.pitest:pitest-maven:mutationCoverage package

    - name: Save aggregated mutation report
      uses: actions/upload-artifact@v3
      with:
        name: mutation_report
        path: aggregator/target/pit-reports

    - name: Save project mutation reports
      uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: project_mutation_reports
        path: '**/target/pit-reports'

  publish:
    needs: build
    if: github.ref == 'refs/heads/main' && github.event_name != 'workflow_dispatch'
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: pages

    - name: Download
      uses: actions/download-artifact@v3
      with:
        path: mutation/ingest

    - name: Ingest
      run: perl regen_index.pl >> $GITHUB_STEP_SUMMARY

    - name: Commit
      uses: stefanzweifel/git-auto-commit-action@v4
