name: Release

on:
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: maven

    - name: Set up Node
      uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: 'yarn'
        cache-dependency-path: report/report-ng/yarn.lock

    - name: Configure Git User
<<<<<<< HEAD
      run: |
        git config user.email "actions@github.com"
        git config user.name "GitHub Actions"
=======
        run: |
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"
>>>>>>> origin/main

    - name: Create release and publish to GitHub Packages
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: mvn -B -Dnode=system release:prepare release:perform
