name: Release

on:
  workflow_dispatch

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Set up JDK 17
      uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Set up Node
      uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
      with:
        node-version: '14.15.1'
        cache: 'npm'
        cache-dependency-path: report/report-ng/package-lock.json

    - name: Configure Git User
      run: |
        git config user.email "actions@github.com"
        git config user.name "GitHub Actions"

    - name: Create release
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: mvn -B -Dnode=system release:prepare
