name: Testing

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Set up JDK 17
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Set up Node
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: '14.15.1'
        cache: 'npm'
        cache-dependency-path: report/report-ng/package-lock.json

    - name: Build with Maven
      run: mvn -B -Dnode=system package

    - name: Save flow execution reports
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      id: upload_flow
      with:
        name: flow_execution_reports
        path: 'example/**/target/mctf/latest'

    - name: Save angular coverage reports
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      id: upload_angular
      with:
        name: angular_coverage
        path: 'report/report-ng/coverage'

    - name: Emit links
      run: |
        echo " * [flow reports](https://bowlby.flowty.dev/flow/artifacts/Mastercard/flow/${{ steps.upload_flow.outputs.artifact-id }})" >> $GITHUB_STEP_SUMMARY
        echo " * [angular coverage](https://bowlby.flowty.dev/flow/artifacts/Mastercard/flow/${{ steps.upload_angular.outputs.artifact-id }}/report/index.html)" >> $GITHUB_STEP_SUMMARY
