name: Testing

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

    - name: Set up JDK 8
      uses: actions/setup-java@2dfa2011c5b2a0f1489bf9e433881c92c1631f88 # v4.3.0
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: maven

    - name: Set up Node
      uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
      with:
        node-version: '14.15.1'
        cache: 'npm'
        cache-dependency-path: report/report-ng/package-lock.json

    - name: Build with Maven
      run: mvn -B -Dnode=system package

    - name: Save flow execution reports
      uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # v4.4.0
      id: upload_flow
      with:
        name: flow_execution_reports
        path: 'example/**/target/mctf/latest'

    - name: Save angular coverage reports
      uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # v4.4.0
      id: upload_angular
      with:
        name: angular_coverage
        path: 'report/report-ng/coverage'

    - name: Emit links
      run: |
        echo " * [flow reports](https://bowlby.flowty.dev/flow/artifacts/Mastercard/flow/${{ steps.upload_flow.outputs.artifact-id }})" >> $GITHUB_STEP_SUMMARY
        echo " * [angular coverage](https://bowlby.flowty.dev/flow/artifacts/Mastercard/flow/${{ steps.upload_angular.outputs.artifact-id }}/report/index.html)" >> $GITHUB_STEP_SUMMARY
